<!DOCTYPE html>
<html>
  <head>
    <title>Emeline Esteves - Front-End Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
  </head>

  <body>
    <div class="jumbotron">
      <div class="title">
        <img src="svgs/coding.svg" alt="">
        <h2>Code in progess...</h2>
      </div>
      <div class="description">
        <p>
          There's nothing here, yet.<br/>
          <span class="turquoise">Be patient</span> ! I'm developping nights and days<br/>
          to show you my all brand new portfolio<br/>
          <span class="turquoise">as soon as possible</span> !
        </p>
      </div>
    </div>
  </body>

</html>
